.CompanyInfoContainer {
    width: 100%;
    min-width: 110px;
    .CompanyInfoTitle {
        font-size: 12px;
        line-height: 16px;
        color: var(--fb-color-gray-400, #98a2b3);
        margin-bottom: 8px;
    }
    .CompanyInfoTextAndLogoContainer {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .CompanyInfoText {
            line-height: 24px;
            font-weight: 400;
            font-size: 16px;
            color: var(--fb-color-black, #101828);
        }

        .CompanyInfoLogo {
            width: 24px;
            margin-right: 15px;
            min-width: 24px;
        }
    }
}
