.CreateCompany {
    width: 100%;
    background-color: var(--fb-color-white, #fff);

    .Content {
        width: 100%;
        max-height: 60vh;
        overflow-y: auto;
    }

    .ButtonsContainer {
        width: 94%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .SecondaryButton {
            margin-right: 8px;
        }
    }
}
