.NavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--fb-color-main-orange, #fb6514);
}

.IconContainer {
    width: 24px;
    height: 24px;
    margin: 3px 5px 0 0;
}

.Text {
    font-size: 16px;
}

.NavLink:hover {
    cursor: pointer;
}
