.ConfirmWindowContainer {
    width: 480px;
    background-color: var(--fb-color-white, #fff);
    padding: 40px 40px 24px 40px;
    border-radius: 16px;
    .Title {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: var(--fb-color-black, #101828);
    }
    .Text {
        margin-top: 16px;
        line-height: 24px;
        color: var(--fb-color-black, #101828);
        max-width: 400px;
    }
    .ButtonsContainer {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        & > button {
            margin-left: 5px;
        }
    }
    .DeleteButton {
        background-color: var(--fb-error-color, #f04438);
    }
}

@media (max-width: 768px) {
    .ConfirmWindowContainer {
        width: 100%;
    }
}
