.MobileViewSwitcher {
    width: 88px;
    min-width: 88px;
    height: 48px;
    background-color: var(--fb-color-white, #fff);
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 var(--fb-hover-box-shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    .IconsWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .IconContainer {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            padding: 10px;
            background-color: var(--fb-color-white, #fff);
            border-radius: 12px;
            .Icon {
                width: 24px;
                height: 24px;
            }
            &.Active {
                color: var(--fb-color-white, #fff);
                background-color: var(--fb-color-main-orange, #fb6514);
            }
        }
    }
}
