.BagForm {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    .BagFormRow {
        display: flex;
        margin-bottom: 16px;
        .FormInput {
            margin-right: 16px;
            flex: 1;
            min-width: 100px;
        }
    }
}

@media (max-width: 768px) {
    .BagFormRow {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        .FormInput {
            width: 100%;
            margin-right: 0;
            margin-bottom: 8px;
        }
    }
}
